h1 {
    text-align: center;
    margin: 20px;
    text-shadow: 1px 1px 2px white;
    font-weight: bold;
}

.search {
    width: 300px;
}

table {
    text-align: center;
    margin: 20px auto;
    width: 400px;
    height: auto;
    border: 1px solid white;
}

tr, td, th {
    border: 1px solid white;
    padding: 20px;
}

.total {
    margin: auto;
    width: 400px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .total h3, .total p {
    margin: 0;
}

.selec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    height: 600px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    font-weight: bold;
    color: #0080ff;
    font-size: 14px;
}