<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <p>En el corazón de Bilbao, JuegAlmi ha sido el refugio de los amantes de los videojuegos desde su apertura hace más de una década. Fundada por un grupo de apasionados del gaming, la tienda comenzó como un pequeño local dedicado a la venta y alquiler de videojuegos. Con el paso del tiempo, la demanda creció y, con ella, la necesidad de diversificar sus servicios. Hoy en día, JuegAlmi no solo ofrece videojuegos, sino también la venta y reparación de consolas, tabletas y smartphones, convirtiéndose en un verdadero centro de entretenimiento y tecnología.</p>
    
      <p>Sin embargo, con el incremento de clientes y el auge del comercio digital, la tienda se dio cuenta de que era fundamental modernizar su imagen y mejorar su gestión. Así, nació el reto de desarrollar una aplicación móvil que no solo sirviera como un escaparate de los productos disponibles, sino que también mejorara la experiencia de sus clientes.</p>
  
      <p>La idea detrás de la aplicación JuegAlmi es simple pero ambiciosa: crear una plataforma accesible y eficiente donde los usuarios puedan explorar el catálogo de videojuegos, consultar los dispositivos en venta, gestionar reparaciones y disfrutar de una experiencia de compra sin igual. El objetivo es facilitar la interacción del cliente con la tienda, permitiendo que realicen compras y alquileres desde la comodidad de su hogar.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
