<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content class="login-container">
    <div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="contrasena" type="password"></ion-input>
      </ion-item>
  
      <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
      <ion-button expand="full" (click)="onRegister()">Registrarse</ion-button>
      
    </form>
  </div>
</ion-content>
  
</ion-content>
