<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ubicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ubicación</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 100%; width: 100%;">
    <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
      <map-marker [options]="markerOptions"></map-marker>
    </google-map>
  </div>
</ion-content>