.logoAlmi {
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
    display: flex;
}

.logoAlmi img {
    border-radius: 30%;
    max-width: 250px;
}