<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galería</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <ion-card *ngFor="let image of images" (click)="openImageDialog(image)">
      <img [src]="image" class="animated-image"/>
    </ion-card>
  </div>
  
</ion-content>
