.titulo {
    text-align: center;
    margin: 10px;
    text-shadow: 1px 1px 2px white;
}

.consolas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 230px;
    height: auto;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.producto {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.valoracion, .precio {
    color: #0080ff;
}

.stock, .valoracion, .precio {
    font-size: 18px;
}

.consolas p, h1, .title {
    font-weight: bold;
    word-break: break-word;
}

.search {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.precio {
    font-weight: bold;
}

.selec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    height: 600px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    font-weight: bold;
    color: #0080ff;
    font-size: 14px;
}